.background-img {
  background: url(./assets/img/bg.png) no-repeat;

  min-height: 300px;
  background-size: 100% 100%;
  margin: 0 auto;
}
.footer-bg {
  background: url(./assets/img/bg.png) no-repeat;
  height: 15vh;
  margin: 0 auto;
}

body {
  background-color: #eef7ff;
  min-width: 500px;
  min-height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  color: #028391;
  font-size: 5rem;
  margin-bottom: 0;
}

h1::first-letter {
  color: cadetblue;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
}

h2,
h3,
h4 {
  font-family: "Alegreya Sans SC", sans-serif;
  color: cadetblue;
  text-align: center;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
}
li,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.profpic {
  margin: 4rem auto;
  border-radius: 50%;
  border: solid 3px cadetblue;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 2rem;
  line-height: 2;
}

.experience > ul {
  line-height: 0.5;
}

hr {
  width: 100vw;
}

div {
  text-align: center;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer p {
  color: #bc7fcd;
  margin: 0;
  font-family: "Alegreya Sans SC", sans-serif;
}
.row-container {
  display: flex;
  justify-content: space-around;
  gap: 0;
}
.row-container > div {
  border: solid cadetblue 2px;
  min-width: 30%;
  min-height: 40vh;
}
.education > p {
  margin-bottom: 3rem;
}

.row-container > div h4,
.experience p,
.experience ul {
  margin: 0 1rem;
  padding: 0;
}

.hobbies > div {
  width: 100%;
  border-style: none;
}

.hobbies h2,
.education h2,#contact h2 {
  background-color: #01204e;
  
}
.hobbies h2 {
  margin-top: 2rem;
}
.education {
  width: 100%;
}
.hobbies-inner img {
  height: 100px;
  border-radius: 7%;
  margin-bottom: 2rem !important;
}

.hobbies-inner {
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 30%;
  justify-content: flex-start;
 
}

.hobbies-inner h4 {
  margin-bottom: 2rem !important;

}

.navbar {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  background-color: #01204e;
  font-size:larger;
  font-family: "Alegreya Sans SC", sans-serif;
  

}

a {
  text-decoration: none;
  color: cadetblue;
}

@media (max-width: 970px) {
  .row-container{
    flex-direction: column;
  }

  .hobbies-inner {
    max-width: none;
  }
}